{% extends "fuel/base3_pt.html" %}

{% block title %}
    Comparador - Contato
{% endblock %}

{% block body %}
    <div class="container-fluid">

        <h5 id="feedback">{{ message }}</h5>
        <h6 id="opening">Para sugestões, críticas, dúvidas, por favor envie email para leandro.jr@outlook.com
         ou envie o formulário abaixo:</h6>
        </br>
        <form id="contactForm" action="{% url 'contact_input' %}" method="post">
        {% csrf_token %}
            <div class="form-group">
                <label class="sr-only" for="input_contact">Escreva seu texto aqui</label>
                <textarea name="contact_input" class="form-control" id="input_contact" rows="5" placeholder="Escreva seu texto aqui..." autocomplete="off"></textarea>
            </div>
            <div class="form-row justify-content-center">
                <div class="col-auto">
                    <label class="sr-only" for="inputemail">Email</label>
                    <div class="input-group mb-2">
                        <div id="email" class="input-group-prepend">
                          <div  class="input-group-text">email</div>
                        </div>
                        <input name="email" class="form-control" id="inputemail" type="email" placeholder="name@example.com" autocomplete="off"/>
                    </div>
                </div>
                <div class="col-auto">
                    <button id="contact_submit" type="submit" class="btn mb-2">Enviar</button>
                </div>
            </div>
        </form>

        </br>

    </div>

    <div class="container-fluid">
        <footer class="footer">
            Desenvolvido por Leandro Almeida • leandro.jr@outlook.com
        </footer>
    </div>

{% endblock %}